@using Microsoft.JSInterop
@using Soenneker.Blazor.Thumbmarkjs.Abstract
@using Microsoft.Extensions.Logging
@using System.Threading
@using System.Text.Json
@using Soenneker.Blazor.Thumbmarkjs.Configuration
@using Soenneker.Extensions.ValueTask
@using Soenneker.Extensions.CancellationTokens
@using Soenneker.Blazor.Extensions.EventCallback;

@inherits Soenneker.Quark.Components.Cancellable.CancellableComponent
@implements IThumbmarkjs

<div id="@ElementId" @attributes="Attributes" ></div>

@code {

    [Inject]
    private IThumbmarkjsInterop ThumbmarkjsInterop { get; set; } = null!;

    [Inject]
    private ILogger<Thumbmarkjs> Logger { get; set; } = null!;

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object?>? Attributes { get; set; }

    [Parameter]
    public ThumbmarkjsOptions? Options { get; set; }

    [Parameter]
    public EventCallback<string> OnGenerated { get; set; }

    [Parameter]
    public EventCallback<JsonElement> OnDataGenerated { get; set; }

    public string ElementId { get; } = $"thumbmarkjs-{Guid.NewGuid()}";
    private DotNetObjectReference<Thumbmarkjs>? _dotNetReference;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _dotNetReference = DotNetObjectReference.Create(this);

            bool useCdn = Options?.UseCdn ?? true;

            await ThumbmarkjsInterop.Initialize(_dotNetReference, useCdn).NoSync();
            await ThumbmarkjsInterop.CreateObserver(ElementId).NoSync();
        }
    }

    [JSInvokable("OnGenerated")]
    public Task OnGeneratedJs(string thumbmark)
    {
        return OnGenerated.InvokeIfHasDelegate(thumbmark);
    }

    [JSInvokable("OnDataGenerated")]
    public Task OnDataGeneratedJs(JsonElement jsonElement)
    {
        return OnDataGenerated.InvokeIfHasDelegate(jsonElement);
    }

    public async ValueTask SetOptions(object options, CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            await ThumbmarkjsInterop.SetOptions(ElementId, options, linked).NoSync();
    }

    public async ValueTask<string?> Get(CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            return await ThumbmarkjsInterop.Get(ElementId, linked).NoSync();
    }

    public async ValueTask<JsonElement?> GetData(CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            return await ThumbmarkjsInterop.GetData(ElementId, linked).NoSync();
    }

    public override async ValueTask DisposeAsync()
    {
        await base.DisposeAsync().NoSync();

        _dotNetReference?.Dispose();
    }

}